DATABASE_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/kineflix
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=kineflix

SECRET_KEY=change_this_to_a_random_32_char_string

TMDB_API_KEY=your_tmdb_api_key
TMDB_READ_ACCESS_TOKEN=your_tmdb_read_access_token

OLLAMA_BASE_URL=http://localhost:11434
REDIS_URL=redis://localhost:6379

GROQ_API_KEY=your_groq_api_key

ENVIRONMENT=local
