.env
.env.*
!.env.example

.coverage
__pycache__/
*.py[cod]

.venv/
venv/
env/

models/tfidf_matrix.pkl

# Büyük veri dosyaları (GitHub'a yüklenmez)
data/*.csv
error.log

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Model dosyaları
models/kineflix-finetuned-model/
models/minilm_embeddings.pkl

# Node modules
frontend/node_modules/